<!--...-->


<div class="container">
    <section class="biography">
        <h1>Biography</h1>
        <ul>
            <li>
                Experienced developer with over a millennia (that's over a thousand years -- wow!)
                of expertise in every field imaginable
            </li>
            <li>
                Proficient in pretty much any and every front-end technology you can think of -- except that one, 
                because that one doesn't matter. Yeah, sorry.
            </li>
            <li>
                Strong problem-solving abilities (how else could I live for so long?) and a keen eye for detail
            </li>
        </ul>
    </section>

    <section class="image">
        <%= image_tag "brain.jpg", class: "portfolio-image" %>
    </section>

    <section class="education">
        <h2>Educational Background</h2>
        <ul>
            <li>
                Attended lectures at the University of Oxford in England during the Middle Ages 
                (12th century onwards -- believe me, it was less than ideal)
            </li>
            <li>
                Studied at Plato's Academy in Athens, Greece, during the Classical period 
                (4th century BCE -- quite a nice fellow that Plato gentleman)
            </li>
            <li>
                Earned a degree in Time Travel Physics from the 22nd Century Institute of Temporal Mechanics 
                (don't ask me about this one, I signed an NDA)
            </li>
        </ul>
    </section>

    <section class="image">
        <%= image_tag "plato_academy.jpg", class: "portfolio-image" %>
    </section>

    <section class="skills">
        <h3>Skills</h3>
        <ul>
            <li>skill 1</li>
            <li>skill 2</li>
            <li>skill 3</li>
        </ul>
    </section>

    <section class="achievements">
        <h4>Achievements</h4>
        <ul>
            <li>achievement 1</li>
            <li>achievement 2</li>
            <li>achievement 3</li>
        </ul>
    </section>
</div>
