<!--...-->


<div class="container">
    <section class="contact-form">
        <p>
            I assume if you're here to fill out this contact form, then you must have already seen how awesome I am.
            If you haven't, then what are you waiting for? Go check me out!
        </p>
        
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject" required><br><br>
            
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" required></textarea><br><br>
            
            <button type="submit">Send</button><br>
        </form>
    </section>
</div>
