<!--...-->


<div class="container">
    <section class="project-1">
        <h1>Project 1</h1>
        <ul>
            <li>
                ...
            </li>
            <li>
                ...
            </li>
            <li>
                ...
            </li>
        </ul>
    </section>

    <section class="image">
        <%= image_tag "brain.jpg", class: "portfolio-image" %>
    </section>

    <section class="project-2">
        <h2>Project 2</h2>
        <ul>
            <li>
                ...
            </li>
            <li>
                ...
            </li>
            <li>
                ...
            </li>
        </ul>
    </section>

    <section class="image">
        <%= image_tag "plato_academy.jpg", class: "portfolio-image" %>
    </section>
</div>
