/* ... */


.biography {
    margin-bottom: 50px;
    border-radius: 8px;
    max-width: 800px;
}

.education {
    margin-bottom: 50px;
    border-radius: 8px;
    max-width: 800px;
}

.skills {
    margin-bottom: 50px;
    border-radius: 8px;
    max-width: 800px;
}

.achievements {
    margin-bottom: 50px;
    border-radius: 8px;
    max-width: 800px;
}
